* {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Variables */
:root {
    --color-para-letras: #142454;
    --color-relleno: #0481b9;
    --color-fondo: #04a3db;
    --color-fondo-body: #fff;
}

/* 
-------------
Header - Menu
-------------
*/

.contenedor__header {
    line-height: 1;
    background-color: var(--color-fondo);
}


.div__img,
.article__div-img {
    max-width: 400px;
    margin: auto;
}

.contenedor__header-img {
    width: 100%;
    padding: 10px;
}

.contenedor__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__form {
    margin-bottom: 10px;
}

.nav__input-buscar {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--color-relleno);
}

.nav__input-buscar::placeholder {
    color: var(--color-para-letras);
}

.nav__input-enviar {
    border: none;
    padding: 4px;
    border-radius: 5px;
}

/* 
---------------
Primera section
---------------
*/

.section__top {
    background-color: var(--color-relleno);
    padding-top: 15px;
}

.contenedor__article {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.article__div-img img {
    width: 100%;
}

/* 
-------------
Section Grid
-------------
*/
.contenedor__responsive {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;

}

.article__grid {
    margin-bottom: 1rem;
}

.flex-row {
    display: flex;
    margin: 1rem 0px 2rem 0px;
}


.article__contenido h2 {
    margin: 0px 0px 1.5rem 1rem;
}

.article__contenido p {
    margin-left: 1rem;

}

.article__img img {
    height: 30px;
    margin-left: 10px;
}

/* 
------------------
Section Documentos
------------------
*/

.article__documento {
    cursor: pointer;
}

.article__documento:hover {
    border-radius: 10px;
    background-color: #f5f5f5;
}

.article__documento-img {
    width: 200px;
    padding: 30px;
}

.article__documento-img img {
    width: 100%;
}

.article__documento-contenido {
    margin-top: 2.5rem;
}

.article__documento-titulo,
.article__dcoumento-fecha,
.article__documento-peso,
.article__documento-paginas {
    margin-bottom: 10px;
}

.section__documentos h2 {
    color: var(--color-para-letras);
    text-align: center;
    padding: 10px;
}

.article__documento-button {
    border: none;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    width: 50px;
}

.article__documento-button:hover {
    background-color: var(--color-relleno);
    color: var(--color-para-letras);
}

/* 
----------------
    footer
----------------
*/

.footer {
    border: 2px solid #f5f5f5;
    padding: 30px 20px;
    text-align: center;
}

.footer__link {
    text-decoration: none;
    margin: 1px;
}

.footer p {
    margin-top: 10px;
    color: var(--color-para-letras);
}

@media screen and (min-width: 768px) {

    /* Header */
    .contenedor__header {
        height: 65px;
    }

    .contenedor__nav {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .nav__form {
        margin: 15px;
    }

    .contenedor__header-img {
        width: 60%;
    }

    /* Section top */
    .contenedor__article {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .article__div-img {
        flex-basis: 40%;
        margin-top: 20px;
    }

    .article__div-titulo {

        flex-basis: 60%;
    }

    .div__img {
        margin-left: 5px;
    }

    /* Section Grid */

    .contenedor__responsive {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .article__grid-1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .article__grid-2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .article__grid-3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .article__grid-4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    /* Grid Documentos */

    .contenedor__documentos-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 1rem;
    }

    .article__documento-1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .article__documento-2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .article__documento-3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .article__documento-4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .article__documento-5 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .article__documento-6 {
        grid-area: 3 / 2 / 4 / 3;
    }
}

@media screen and (min-width: 1024px) {

    /* Section top */
    .section__top {
        height: 300px;
    }

    /* Section Grid */
    .article__grid {
        margin: 10px;
    }

}